@model QuizAPI.Models.KnowledgeArea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KnowledgeArea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Certification.CertificationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certification.CertificationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KnowledgeAreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnowledgeAreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KnowledgeAreaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
