<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                <a href="www.jumb2job.com" class="" navbar-brand""> Main Page</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Certifications", "Index", "Certifications", new { area = "AdminPanel" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Country", "Index", "CountryMasters", new { area = "AdminPanel" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Job Field", "Index", "JobFields", new { area = "AdminPanel" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Job Area", "Index", "JobFieldAreas", new { area = "AdminPanel" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Language", "Index", "LanguageMasters", new { area = "AdminPanel" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Knowledge Area", "Index", "KnowledgeAreas", new { area = "AdminPanel" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Questions", "Index", "Questions", new { area = "AdminPanel" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Exams", "Index", "Exams", new { area = "AdminPanel" }, new { @class = "navbar-brand" })</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>